
{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "singleQuote": false
      }
    }
  ],
  "plugins": [
    "prettier-plugin-solidity"
  ]
}
